@import "tailwindcss";

:root {
  --bg-main: #0c0c0e; /* Un fond très légèrement plus profond */
  --bg-surface: #18181b; /* Un gris Zinc plus standard et élégant */
  --bg-surface-hover: #27272a;

  --border-dim: #3f3f46; /* Des bordures BEAUCOUP plus visibles et nettes */
  --border-focus: #52525b;

  --text-main: #ffffff; /* Blanc pur pour les titres et données clés */
  --text-muted: #a1a1aa; /* Un gris plus doux pour les descriptions */

  --accent: #3b82f6; /* Bleu électrique vif */
}

@theme inline {
  --color-background: var(--bg-main);
  --color-surface: var(--bg-surface);
  --color-surface-hover: var(--bg-surface-hover);
  --color-border-dim: var(--border-dim);
  --color-border-focus: var(--border-focus);
  --color-text-main: var(--text-main);
  --color-text-muted: var(--text-muted);
  --color-accent: var(--accent);
}

body {
  background-color: var(--color-background);
  color: var(--color-text-main);
  font-family: var(--font-geist-sans);

  /* background-image:
    linear-gradient(to right, rgba(255, 255, 255, 0.03) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(255, 255, 255, 0.03) 1px, transparent 1px);
  background-size: 32px 32px;
  background-position: center center; */
}
